.dropdown {
    position: relative;
    display: inline-block;

    &__toggle {
        background: transparent;
        color: white;
        border: 1px solid #555;
        padding: 6px 12px;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: #444;
        }
    }

    &__avatar {
        margin-right: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__avatarWrapper {
        width: 32px;
        height: 32px;
        overflow: hidden;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__menu {
        position: absolute;
        top: 100%;
        z-index: 9999;
        display: none;
        background-color: #333;
        color: white;
        border: 1px solid #444;
        border-radius: 4px;
        padding: 8px 0;
        width: 200px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

        &.open {
            display: block;
        }

        /* Три класса для выравнивания */
        &.align-left {
            left: 0;
            right: auto;
        }

        &.align-center {
            left: 50%;
            transform: translateX(-50%);
        }

        &.align-right {
            right: 0;
            left: auto;
        }
    }

    &__item {
        padding: 10px;
        cursor: pointer;

        &:hover {
            background-color: #444;
        }
    }
}